.rnssnc-slider {
  position: relative;
  display: block;
}

.rnssnc-slides {
  touch-action: none;
  width: 10000px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  display: flex;
  align-items: center;
}

.rnssnc-slide {
  backface-visibility: hidden;
  float: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 1s; */
  position: relative;
  background: #ffcf47;
  border-radius: 2px;
}

.slide-active {
  z-index: 2;
}
