@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --slider-width: 100%;
  --slider-height: 100vh;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #7656d6;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 22px;
}

.video {
  width: 100%;
  height: 100vh;
}

.slider-wrap {
  max-width: 1177px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  width: 1200px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-right: -30px !important;
}

/* .rnssnc-slide {
  margin-right: 10px;
} */

.slide {
  padding: 0;
  /* padding-right: 30px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-right: 40px;
  height: 100%;
  width: 100%;
}

.test {
  width: 277px;
  height: 300px;
  background-color: aqua;
}
.rnssnc-slide:nth-child(even) > .slide {
  background: #3cff96;
}
.rnssnc-slide:nth-child(odd) > .slide {
  background: #a78df5;
}
.rnssnc-slide:nth-child(3n) > .slide {
  background: #ff8686;
}
/* .slide:nth-child(5) {
  background: #ff8686;
} */

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 0;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 0;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}
